GEMINI_API_KEY=AIzaSyC2AYXEscQql3iW_VLZ6WUgXryEq5jQv_A
GEMINI_GENERATION_MODEL=models/gemini-2.5-flash
GEMINI_EMBEDDING_MODEL=gemini-embedding-001
QDRANT_PATH=Data_RAG/index/qdrant_local
QDRANT_COLLECTION=hanhphuc_hospital_rag
